*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    width: 100vw;
}

header{
    width: 100%;
    padding: 2%;
}

header > h1 {
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
}

.seccionesCals{
    min-width: 60%;
    max-width: 80%;
    margin: auto;
}

#sectionTrian > form{
    display: flex;
    flex-direction: column;
    align-content: center;
}