/*
1. Posicionamiento
2. Modelo Caja
3. Tipografia
4. Visuales
5. Otros
*/

/*
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;
*/

:root{
    /*Colores*/
    --bitcoin-orange: #F7931a;
    --soft-orange:#FFE9D4;
    --secondaty-blue: #1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-blank: #201E1C;
    --black:#282623;
    --gray: #BABABA;
    --off-white:#FAF8F7;
    --just-white:#fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}